.calculadora {
  width: 50vw;
  height: 75vh;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.pantalla {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  font-size: 35px;
}

.botones {
  width: 100%;
  height: 40vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  position: relative;
  z-index: 1;
}

.btn-calc {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

button:hover {
  background-color: #ccc;
}

button:last-child {
  grid-column: span 2;
}

button:nth-child(10) {
  grid-column: span 1;
  position: relative;
  z-index: 2;
}