@each $color, $value in $custom-theme-colors {
  .text-#{$color} {
    color: $value !important;
  }
  .bg-#{$color} {
    background-color: $value !important;
    color: var(--color-#{$color}-text);
  }
  .card.card-#{$color} {
    background-color: $value;
    color: var(--color-#{$color}-text);
  }
  .btn.btn-#{$color} {
    border: 1px solid #{$value};
    background-color: $value;
    color: var(--color-#{$color}-text);
    transition: 0.5s ease;

    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        background-color: var(--color-#{$color}-shade) !important;
        transition: 0.5s ease;
      }
    }
  }

  .btn.btn-outline-#{$color} {
    background-color: transparent;
    border: 1px solid #{$value};
    color: #{$value};
    transition: 0.5s ease;

    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        transition: 0.5s ease;
        border: 1px solid transparent;
        color: var(--color-#{$color}-text);
        background-color: var(--color-#{$color}-shade);
      }
    }
  }

  .btn.btn-borderless-#{$color} {
    background-color: transparent;
    color: #{$value};
    transition: 0.5s ease;

    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        transition: 0.5s ease;
        background-color: var(--color-#{$color});
        color: var(--color-#{$color}-text);
      }
    }
  }

  .topbar.topbar-#{$color} {
    .lang-bar {
      background-color: var(--color-#{$color}-shade);
    }
    .navbar {
      background-color: var(--color-#{$color});

      li > ul {
        background-color: var(--color-#{$color}-shade);
      }
    }
  }

  .swiper.swiper-#{$color} {
    --swiper-theme-color: #{$value};
  }
}
