.form-container {
  --color: var(--color-medium);
  --background: var(--color-light);
  --height: 40px;
  margin-bottom: 0.5em;

  label {
    font-size: 0.9em;
    transition: 0.25s ease;
    font-weight: 600;
    margin-bottom: 0.25em;
  }

  .form-wrapper {
    background: var(--background);
    border-radius: var(--radius);
    border: 1px solid rgb(196, 196, 196);
    display: flex;
    align-items: stretch;

    .icon {
      aspect-ratio: 1;
      display: grid;
      height: var(--height);
      place-items: center;
    }
    input {
      flex: 1;
      height: var(--height);
    }
    .icon ~ input {
      padding-left: 0;
    }
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.form-switch {
    margin-top: 1em;
    background: transparent;
    --radius: 26px;
    --width: 50px;
    --height: 30px;
    border: unset;
    display: flex;
    gap: 1em;

    label {
      font-size: 1em !important;
      margin: 0;
    }

    input {
      position: relative;
      appearance: none;
      outline: none;
      width: var(--width);
      height: var(--height);
      background-color: #ffffff;
      border: 1px solid #d9dadc;
      border-radius: var(--width);
      box-shadow: inset -20px 0 0 0 #ffffff;
      transition-duration: 200ms;

      &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: var(--radius);
        height: var(--radius);
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
      }
      &:checked {
        border-color: var(--color-primary);
        box-shadow: inset 20px 0 0 0 var(--color-primary);
      }
      &:checked:after {
        left: unset;
        right: 0;
        box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
      }
    }

    &.small {
      --width: 40px;
      --radius: 17px;
      --height: 20px;
    }
  }

  &.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;

    input {
      width: auto;
      cursor: pointer;
    }
    label {
      margin: 0;
      cursor: pointer;
    }
  }

  &.form-textarea {
    .icon {
      transform: unset;
      top: 15px;
    }
    textarea {
      padding-left: 2.5em;
    }
  }

  &.form-autocomplete {
    .form-wrapper {
      position: relative;
    }

    small {
      color: var(--color-danger);
    }
    ul.search_results {
      list-style: none;
      margin: 0;
      padding: 0;
      background: var(--color-light);
      box-shadow: var(--shadow);
      -moz-box-shadow: var(--shadow);
      -webkit-box-shadow: var(--shadow);
      border: 1px solid #ccc;
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      z-index: 1000;
      max-height: 150px;
      overflow-y: auto;

      li {
        padding: 0.25em 0.5em;
        cursor: pointer;

        &:hover {
          background: var(--color-light-shade);
        }
      }
    }
  }

  &.form-uploader {
    border: unset;
  }

  &.form-select {
    .form-wrapper {
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        left: 0;
      }
      .icon ~ select {
        border-left: calc(var(--height) - 5px) solid transparent;
      }
    }
  }

  &.flex-field {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    label {
      margin: 0;
    }

    select {
      border: unset;
      padding: 0.5em 0.8em;
    }

    .form-wrapper {
      border-color: transparent;
      background: var(--background);

      &:hover {
        background: var(--background);
        border: 1px solid rgb(196, 196, 196);
      }
    }
  }

  &.form-combobox {
    position: relative;

    .form-wrapper {
      position: relative;
    }

    .loader {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
    }

    ul {
      position: absolute;
      max-height: 150px;
      overflow-y: auto;
      background: white;
      border: 1px solid #ccc;
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 1;
      top: 100%;
      left: 0;
      right: 0;

      li {
        padding: 0.25em 1em;
        cursor: pointer;

        &:hover,
        &.highlighted {
          background: #f0f0f0;
        }
      }
    }

    .spinner {
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: var(--color-primary);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
.form-date-ranges {
  display: grid;
  padding: 0.5em 0.75em;
  gap: 0.25em;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.vc-popover-content-wrapper button {
  background: transparent;
}

input,
select,
label.checkbox span,
textarea {
  border: none;
  outline: none;
  color: var(--color);
  background: transparent;
  width: 100%;
  padding: 0.5em 0.8em;
  display: block;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
select {
  padding: 0.5em 0;
  border-right: 0.8em solid transparent;
  border-left: 0.8em solid transparent;
}
label.checkbox {
  position: relative;

  input {
    display: none;
  }
  span {
    width: 100%;
    color: rgba(0, 0, 0, 0.25);
    transition: ease 0.5s;
    display: block;
  }
  &:hover span,
  input:checked ~ span {
    color: var(--color-light);
    background: var(--color-primary-shade);
    transition: ease 0.5s;
  }
  input:checked ~ span {
    font-weight: 600;
    letter-spacing: 1px;
    transition: ease 0.75s;
  }
}

.text-center {
  input,
  label.checkbox,
  textarea {
    text-align: center;

    &::-webkit-input-placeholder {
      text-align: center;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }

    &:-ms-input-placeholder {
      text-align: center;
    }
  }
  select option {
    text-align-last: center;
  }
}

.btn-group {
  display: flex;
  gap: 0.25em;
}

.btn {
  border: none;
  border-radius: var(--radius);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  text-decoration: none;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &.btn-rounded {
    width: 39px;
    aspect-ratio: 1;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn-sm {
      width: 25px;
      font-size: 0.75em;
    }
  }

  &.btn-fixed-width {
    width: 150px;
  }

  &.btn-block {
    width: 100%;
    text-align: center;
  }
  &.btn-sm {
    font-size: 0.85em;
  }
  &.disabled,
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.text-center .btn {
  margin-left: auto;
  margin-right: auto;
}
