.card {
  background: white;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  position: relative;

  &.no-shadow {
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
  }

  .card-header {
    padding: 1em 1em 0.5em;
    background: rgba(255, 255, 255, 0.15);
  }
  .card-body {
    padding: 0.5em 1em;
  }
  .card-footer {
    padding: 0.5em 1em;
  }

  &.widget {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 1.5em);

    .card-header {
      height: 65px;
      background: #fff;
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
      align-items: center;
      display: flex;
      align-items: center;
      padding: 0.75em 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .widget-icon {
        display: block;
        margin-right: 1em;
      }
      h3 {
        font-size: 1.25em;
        margin: 0;
      }

      .buttons {
        display: flex;
        gap: 0.5em;

        .btn {
          font-size: 0.9em;
          white-space: nowrap;
        }
      }
    }
    .card-body {
      flex-grow: 1;
    }
  }
}

.swiper {
  overflow: visible !important;

  .swiper-pagination {
    bottom: var(--pagination-bottom, -20px) !important;
  }
}

.tooltip {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25em;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1em;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) scale(0);
  white-space: nowrap;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 100;

  &.toLeft {
    left: unset;
    right: 100%;
    transform: translate(50%, -50%) scale(0);
  }
}

.btn:hover .tooltip {
  transition: 0.25s ease;
  transform: translate(10%, -50%) scale(1);

  &.toLeft {
    transform: translate(-10%, -50%) scale(1);
  }
}
