@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

$custom-theme-colors: () !default;
$custom-theme-colors: map-merge(
  (
    'primary': #ef6367,
    'primary-text': #fff,
    'primary-tint': #e89a9a,
    'primary-shade': #e89a9a,
    'primary-50': #ffacac,
    'primary-25': #ffe0e0,

    'secondary-tint': #0084c2,
    'secondary': #ef6367,
    'secondary-text': #fff,
    'secondary-shade': #ef6367,

    'transparent': transparent,
    'transparent-text': #697a8d,

    'white': #ffffff,
    'white-shade': #d8d6d6,
    'white-text': #ef6367,

    'light': #fff3f3,
    'light-text': #ef6367,
    'light-shade': #f3f3f3,

    'medium-tint': #ef6367,
    'medium': #ef6367,
    'medium-text': #fff,
    'medium-shade': #ef6368bd,

    'dark-tint': #373737,
    'dark': #2c2c2c,
    'dark-text': #fff,
    'dark-shade': #3d3d3d,

    'danger': #e14319,
    'danger-shade': #be3813,
    'danger-text': #fff,

    'success': #6abb45,
    'success-shade': #5da53c,
    'success-text': #fff,

    'info': #7ad7e4,
    'info-shade': #68bac5,
    'info-text': #fff,

    'warning': #ffba3b,
    'warning-shade': #ebaa33,
    'warning-text': #fff
  ),
  $custom-theme-colors
);

$custom-sizes: () !default;
$custom-sizes: map-merge(
  (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem,
    6: 4.5rem,
    7: 6rem
  ),
  $custom-sizes
);

:root {
  --font-family: 'Lexend', sans-serif;
  --radius: 0.25em;

  @each $color, $value in $custom-theme-colors {
    --color-#{$color}: #{$value};
  }

  --body-bg: var(--color-light);
  --body-text: var(--color-medium);
  --shadow: 0 0 10px 0 rgb(67 89 113 / 12%);

  --sidebar-closed-width: calc(40px + 2em);
  --sidebar-open-width: 250px;
  --topbar-height: 72px;
}
