@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

$custom-theme-colors: () !default;
$custom-theme-colors: map-merge(
  (
    'primary': #34bec2,
    'primary-text': #fff,
    'primary-tint': #43d0d4,
    'primary-shade': #219fa3,
    'primary-50': #34bec250,
    'primary-25': #34bec225,

    'secondary-tint': #6cd0ff,
    'secondary': #3dc2ff,
    'secondary-text': #fff,
    'secondary-shade': #2a9bcf,

    'transparent': transparent,
    'transparent-text': #697a8d,

    'light': #fafafa,
    'light-text': #000,
    'light-shade': #e8eff0,

    'medium-tint': #adb3bb,
    'medium': #697a8d,
    'medium-text': #fff,
    'medium-shade': #506072,

    'dark-tint': #373737,
    'dark': #2c2c2c,
    'dark-text': #fff,
    'dark-shade': #202020,

    'danger': #e14319,
    'danger-text': #fff,
    'success': #6abb45,
    'success-text': #fff,
    'info': #7ad7e4,
    'info-text': #fff,
    'warning': #dbbb4f,
    'warning-text': #fff
  ),
  $custom-theme-colors
);

$custom-sizes: () !default;
$custom-sizes: map-merge(
  (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem,
    6: 4.5rem,
    7: 6rem
  ),
  $custom-sizes
);

:root {
  --font-family: 'Lexend', sans-serif;
  --radius: 0.25em;

  @each $color, $value in $custom-theme-colors {
    --color-#{$color}: #{$value};
  }

  --body-bg: var(--color-light);
  --body-text: var(--color-medium);
  --shadow: 0 0 10px 0 rgb(67 89 113 / 12%);

  --sidebar-closed-width: calc(40px + 2em);
  --sidebar-open-width: 250px;
  --topbar-height: 72px;
}
